*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
:root{
    --main-color: #252525;
    --second-color: #717378;
    --bg-color: #F0F0F0;
    --text-color: #2d2d2d;
}
header{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    padding-left: 2.5rem;
    padding: 16px;
    background-color: var(--bg-color);
}
.logo a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    font-size: 18px;
}
.navbar {
    list-style: none; 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: 14rem;
}
.navbar li {
    margin: 0 15px;
    font-size: 20px;
    font-weight: 500;
}
.navbar a {
    text-decoration: none;
    color: var(--main-color);
    position: relative;
}
.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: var(--main-color);
    transition: width 0.3s ease;
    bottom: 0; 
    left: 0;
}
.navbar a:hover::after {
    width: 100%;
}